.App {
  display: flex;
  width: 100%;
  position: relative;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700";

.text-center {
  margin: auto !important;
}

/* General Classes */

.selectable-item {
  cursor: pointer;
}

.selectable-item:hover {
  color: gray;
}

/* End General Classes */

/* ---------------------------------------------------
    SIDEBAR CLASSES
----------------------------------------------------- */

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: gray;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #354052;
  color: #adb5bd;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #313b4c;
  color: #adb5bd;
}

.sidebar-nav li {
  list-style: none;
  padding: -100px;
}

.profile-view {
  color: #fff;
  margin-left: 45px;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show,
.collapsing {
  background: #313b4c;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.container-fluid {
  height: fit-content;
}

.sidebar.is-open {
  min-width: 13%;
  max-width: 13%;
  margin-left: 0;
  transition: all 0.5s, height 0s;
}

.sidebar.is-open > .sidebar-header button {
  display: block;
}

li a.dropdown-toggle::after {
  display: inline-block;
  position: relative;
  left: 68%;
}

/* NavBar Classes */

.nav-item {
  color: #354052;
  font-weight: 300;
  font-size: 25px;
}

.nav-item .dropdown {
  color: white;
}

#sidebar-container .nav-item {
  color: white;
}

.navbar-brand {
  font-size: 2rem !important;
}

.navbarContainer.is-open {
  transition: all 0.5s;
}

.navbar-text#scrum-nest-title {
  font-size: 2rem;
}

.navbar-nav {
  z-index: 1;
}

.navbar-center-title {
  position: relative;
  font-size: 2rem;
  left: 4%;
}

.navbar-padding {
  padding: 1.75rem;
}

.navbar-icons {
  cursor: pointer;
}

/* createDialogLabel */

.createDialogLabel {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.custom-control2 {
  padding: 0px;
  width: 450px;
  margin-top: -25px;
  margin-bottom: 10px;
}

/* End NavBar Classes */

/* Dropdown Classes */

.dropdown-item {
  text-align: center;
  display: flex;
}

.dropdown-item-icon {
  padding-right: 0.5rem;
}
/* End Dropdown Classes */

/* Dialog Classes */

/* TO-DO Dialog CSS Classes Here */

/* End Dialog Classes */

/* Form Control Classes */

/* End Form Control Classes */

/* Amplify Classes */

:host {
  --padding: 0.2rem;
}

.dropdown-item :root {
  --amplify-primary-color: white;
  --amplify-primary-tint: gray;
  --amplify-primary-shade: gray;
  --amplify-primary-contrast: black;
  /* --amplify-font-family: "DM Sans", sans-serif; */
}

/* End Amplify Classes */

/* Board Classes */

.container-height {
  height: 75rem;
}

.max-height {
  height: 100%;
}

#board-container.container .row {
  height: 100%;
}

#board-container.container .col {
  height: 100%;
  border: 0.5px dashed #007bff;
}

#board-container.container {
  max-width: none;
  padding: 1.5rem;
}

#board-container-title h5 {
  font-size: 2.5rem;
  display: inline-block;
  padding-right: 1rem;
}

#board-container-title {
  border-bottom: 1px solid #007bff;
}

/* End Board Classes */
